*{
    margin:0;
    padding:0;
}
body{
    background-image: url('IMAGES/Capture.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header img{
    width: 130px;
    height: 130px;
}